.button {
  border: none;
  outline: none;

  &.button--primary {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 50px;
    background: linear-gradient(90deg, #186267 0%, #186267 20%, #9FF882 100%);
    transition: all ease 300ms;
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    color: #fff;
    font-weight: 900;

    &:hover {
      animation-duration: 300ms;
      animation-name: gradientMove;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }

  &.is-hollow,
  &.button--hollow {
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 50px;
    background: transparent;
    transition: all ease 300ms;
    font-size: 26px;
    line-height: 50px;
    height: 50px;
    color: #186267;
    font-weight: 700;
    padding-right: 12px;

    @media (min-resolution: 100dpi) {
      font-size: 24px;
    }

    .icon-wrapper {
      margin-left: 20px;
      border-radius: 100%;
      padding-left: 10px;
    }

    .dot {
      background: linear-gradient(90deg, #186267 0%, #186267 20%, #9FF882 100%);
      border-radius: 50px;
      height: 50px;
      width: 50px;
      z-index: 0;
      position: absolute;
      right: 0;
    }

    .text,
    .icon-wrapper {
      z-index: 2;
    }

    &.is-green {
      .dot {
        background: #9FF882;
      }

      &:hover {
        .dot {
          background: linear-gradient(90deg, #186267 0%, #186267 20%, #9FF882 100%);
        }
      }
    }

    &:hover {
      animation-duration: 200ms;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
      animation-delay: 10ms;
      color: #fff;
      background: transparent;
      box-shadow: 1px 1px 12px rgb(0 0 0 / 20%);

      .dot  {
        width: 100%;
        z-index: 0;
      }
    }
  }

  &.button--light-text {
    color: #fff;
  }
}

@keyframes fillGradient {
  100%   { background: linear-gradient(90deg, #186267 0%, #186267 20%, #9FF882 100%); }
  80%   { background: linear-gradient(90deg, #186267 0%, #186267 30%, #9FF882 100%); }
  65%   { background: linear-gradient(90deg, #186267 0%, #186267 40%, #9FF882 135%); }
  50%  {background: linear-gradient(90deg, #186267 0%, #186267 50%, #9FF882 160%); }
  45%  {background: linear-gradient(90deg, #186267 0%, #186267 60%, #9FF882 180%); }
  30% {background: linear-gradient(90deg, #186267 0%, #186267 70%, #9FF882 200%); }
  15% {background: linear-gradient(90deg, #186267 0%, #186267 80%, #9FF882 200%); }
  0% {background: linear-gradient(90deg, #186267 0%, #186267 90%, #9FF882 200%); }
}


@keyframes gradientMove {
  0%   { background: linear-gradient(90deg, #186267 0%, #186267 20%, #9FF882 100%); }
  15%   { background: linear-gradient(90deg, #186267 0%, #186267 30%, #9FF882 100%); }
  30%   { background: linear-gradient(90deg, #186267 0%, #186267 40%, #9FF882 135%); }
  45%  {background: linear-gradient(90deg, #186267 0%, #186267 50%, #9FF882 160%); }
  50%  {background: linear-gradient(90deg, #186267 0%, #186267 60%, #9FF882 180%); }
  65% {background: linear-gradient(90deg, #186267 0%, #186267 70%, #9FF882 200%); }
  80% {background: linear-gradient(90deg, #186267 0%, #186267 80%, #9FF882 200%); }
  100% {background: linear-gradient(90deg, #186267 0%, #186267 90%, #9FF882 200%); }
}
