.button {
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  padding: 10px 12px 10px 20px;
  transition: all ease 300ms;
  height: unset;
  min-height: 46px;

  @media (min-resolution: 200dpi) {
    font-size: 19px;
    padding: 8px 12px 8px 20px;
    min-height: 45px;
  }

  @media (min-resolution: 240dpi) {
    font-size: 18px;
    padding: 8px 8px 8px 20px;
    min-height: 42px;
  }

  @media screen and (max-width: 1600px) {
    font-size: 18px;
    padding: 8px 10px 8px 20px;
    min-height: 42px;
  }

  .text {
    text-wrap: wrap;
    line-height: 24px;

    @media screen and (max-width: 1200px) {
      line-height: 20px;
    }
  }

  .icon-wrapper {
    .vue-icon__wrapper {
      margin-left: 10px;
      background: $movements-green;
      border-radius: 100px;
      padding: 4px;
      overflow: hidden;
    }
  }

  &:hover {
    .vue-icon__wrapper {
      svg {
        animation-duration: 400ms;
        animation-name: buttonArrowMove;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
    }
  }

  &.button--primary {
    background: linear-gradient(120deg, #186267 0%, #69BC77 100%);
    background-size: 350% 100%;
    background-position: 100% 50%;
    color: #ffffff;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);

    &:hover {
      background-size: 150% 100%;
      background-position: 80% 50%;
    }
  }

  &.is-hollow,
  &.button--hollow {
    background: transparent;
    color: $movements-green;

    &:hover {
      color: $primary-green;

      .icon-wrapper {
        .vue-icon__wrapper {
          background: $primary-green;
        }
      }
    }
  }

  &.button--light-text {
    color: #fff;
  }
}

@keyframes buttonArrowMove {
  0%   { transform: translateX(0); }
  49%  { transform: translateX(15px); }
  50%  { transform: translateX(-15px); }
  100% { transform: translateX(0); }
}


@keyframes gradientMove {
  //0%   { background: linear-gradient(120deg, #186267 0%, #69BC77 0%, #69BC77 100%); }
  //100%  {background: linear-gradient(120deg, #186267 0%, #69BC77 50%, #69BC77 100%); }
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}
