html,
body,
#app {
  height: calc(100vh - 150px);

  @media (min-resolution: 100dpi) {
    height: calc(100vh - 120px);
  }
}

body {
  max-width: 2500px;
  margin: 0 auto;
}

.is-align-content-center {
  align-items: center;
}

.is-fullwidth {
  width: 100%;
}

.l-h-0 {
  line-height: 0;
}

.is-dark {
  background-color: #000;
}
