html,
body,
#app {
  height: 100%;
}

body {
  max-width: 2500px;
  margin: 0 auto;
}

.is-align-content-center {
  align-items: center;
}

.is-fullwidth {
  width: 100%;
}

.l-h-0 {
  line-height: 0;
}

.is-dark {
  background-color: #000;
}
