.section {
  padding: 0;

  &.full-height {
    height: calc(100vh - 150px);
  }

  .section__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background: linear-gradient(45deg, #ECECEC 0%, #ECECEC 40%, transparent 80%, transparent);
    z-index: 0;
  }

  > *:not(.section__mask) {
    position: relative;
    z-index: 1;
  }

  .bg-image {
    line-height: 0;
  }

  .section__content {
    padding: 20px 320px !important;

    @media (min-resolution: 100dpi) {
      padding: 20px 200px !important;
    }

    h1 {
      font-size: 72px;
      line-height: 76px;
      color: #186267;
      max-width: 60%;
      margin-bottom: 50px;
      text-align: left;

      @media (min-resolution: 100dpi) {
        font-size: 62px;
        line-height: 68px;
      }

      &::before {
        content: '';
        display: block;
        width: 50px;
        height: 8px;
        background: #e8a500;
      }

      &.is-large {
        font-size: 100px;
        line-height: 102px;
      }
    }


    .is-highlighted {
      font-weight: 800;
    }

  }
}

.section-divider {
  display: block;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #186267 0%, #186267 20%, #9FF882 100%);

  &.section-divider--green {
    background: #9FF882;
  }
}
