.section {
  padding: 120px 0;
  overflow: hidden;

  &.full-height {
    height: calc(100vh - 150px);
  }

  &.is-white {
    background: #ffffff;
  }

  .bg-image {
    line-height: 0;
  }

  .section__content {
    padding: 20px 320px !important;

    @media (min-resolution: 100dpi) {
      padding: 20px 200px !important;

      @media screen  and (max-width: 1400px) {
        padding: 20px 150px !important;
      }

      @media screen  and (max-width: 780px) {
        padding: 20px 40px !important;
      }

      @media screen  and (max-width: 460px) {
        padding: 10px 40px !important;
      }

      @media screen  and (max-width: 320px) {
        padding: 10px 30px !important;
      }
    }

    h1 {
      font-size: 72px;
      line-height: 76px;
      color: #186267;
      max-width: 60%;
      margin-bottom: 50px;
      text-align: left;

      @media (min-resolution: 100dpi) {
        font-size: 52px;
        line-height: 68px;
      }

      @media screen  and (max-width: 780px) {
        font-size: 52px;
        line-height: 60px;
      }

      @media screen  and (max-width: 520px) {
        font-size: 42px;
        line-height: 46px;
      }

      @media screen  and (max-width: 360px) {
        font-size: 36px;
        line-height: 38px;
      }

      &::before {
        content: '';
        display: block;
        width: 50px;
        height: 8px;
        background: #e8a500;

        @media screen  and (max-width: 780px) {
          width: 40px;
        }

        @media screen  and (max-width: 460px) {
          width: 30px;
          height: 6px;
        }
      }

      &.is-large {
        font-size: 100px;
        line-height: 102px;
      }
    }


    .is-highlighted {
      font-weight: 800;
      z-index: 10;
      position: relative;
    }

  }
}

.section-divider {
  display: block;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #186267 0%, #186267 20%, #9FF882 100%);

  &.section-divider--green {
    background: #9FF882;
  }
}
