.project {
    p{
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

  .project-gallery {
    padding: 0;

    @media screen and (max-width: 768px){
      padding: 125px 18px 28px;

      .column {
        padding: 4px;
      }
    }
  }

}
